IISCase7/config/vocab/Java/UIML2_0g.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="uiml">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="head" minOccurs="0"/>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="template"/>
					<xs:element ref="interface"/>
					<xs:element ref="peers"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="head">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="meta"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="meta">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="name" use="required" type="xs:NMTOKEN"/>
					<xs:attribute name="content" use="required" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="peers">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="presentation"/>
				<xs:element ref="logic"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="interface">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="structure"/>
				<xs:element ref="style"/>
				<xs:element ref="content"/>
				<xs:element ref="behavior"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="template">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="behavior"/>
				<xs:element ref="constant"/>
				<xs:element ref="content"/>
				<xs:element ref="d-class"/>
				<xs:element ref="d-component"/>
				<xs:element ref="interface"/>
				<xs:element ref="logic"/>
				<xs:element ref="part"/>
				<xs:element ref="peers"/>
				<xs:element ref="presentation"/>
				<xs:element ref="property"/>
				<xs:element ref="restructure"/>
				<xs:element ref="rule"/>
				<xs:element ref="script"/>
				<xs:element ref="structure"/>
				<xs:element ref="style"/>
			</xs:choice>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="presentation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="d-class" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="base" use="required" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="logic">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="d-component" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="d-component">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="d-method"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="maps-to" type="xs:string"/>
			<xs:attribute name="location" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="d-class">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="d-method" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="d-property" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="event" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="listener" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="used-in-tag" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="event"/>
						<xs:enumeration value="part"/>
						<xs:enumeration value="listener"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="maps-type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="tag"/>
						<xs:enumeration value="class"/>
						<xs:enumeration value="attribute"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="maps-to" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="d-property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="d-method" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="d-param" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="maps-type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="setMethod"/>
						<xs:enumeration value="method"/>
						<xs:enumeration value="getMethod"/>
						<xs:enumeration value="attribute"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="maps-to" use="required" type="xs:string"/>
			<xs:attribute name="return-type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="d-method">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="d-param" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="script" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" use="required" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="maps-to" use="required" type="xs:string"/>
			<xs:attribute name="return-type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="d-param">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="script">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded"/>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="type" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="structure">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="part" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="part">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="style" minOccurs="0"/>
				<xs:element ref="content" minOccurs="0"/>
				<xs:element ref="behavior" minOccurs="0"/>
				<xs:element ref="part" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="class" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="where" default="last">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="after"/>
						<xs:enumeration value="first"/>
						<xs:enumeration value="before"/>
						<xs:enumeration value="last"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="where-part" type="xs:NMTOKEN"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="style">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="property" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="property">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="constant"/>
				<xs:element ref="property"/>
				<xs:element ref="reference"/>
				<xs:element ref="call"/>
				<xs:element ref="op"/>
				<xs:element ref="event"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="part-name" type="xs:NMTOKEN"/>
			<xs:attribute name="part-class" type="xs:NMTOKEN"/>
			<xs:attribute name="event-name" type="xs:NMTOKEN"/>
			<xs:attribute name="event-class" type="xs:NMTOKEN"/>
			<xs:attribute name="call-name" type="xs:NMTOKEN"/>
			<xs:attribute name="call-class" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="reference">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="constant-name" type="xs:NMTOKEN"/>
					<xs:attribute name="url-name" type="xs:NMTOKEN"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="content">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="constant" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="constant">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="constant" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="model" type="xs:string"/>
			<xs:attribute name="value" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="behavior">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rule" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="rule">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="condition"/>
				<xs:element ref="action"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="export" default="optional">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="required"/>
						<xs:enumeration value="optional"/>
						<xs:enumeration value="hidden"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="condition">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="equal"/>
				<xs:element ref="event"/>
				<xs:element ref="op"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="equal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="event"/>
				<xs:choice>
					<xs:element ref="constant"/>
					<xs:element ref="property"/>
					<xs:element ref="reference"/>
					<xs:element ref="op"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="op">
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="constant"/>
				<xs:element ref="property"/>
				<xs:element ref="reference"/>
				<xs:element ref="call"/>
				<xs:element ref="op"/>
				<xs:element ref="event"/>
			</xs:choice>
			<xs:attribute name="name" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="action">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element ref="property"/>
						<xs:element ref="call"/>
						<xs:element ref="restructure"/>
					</xs:choice>
					<xs:element ref="event" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="when-true" minOccurs="0"/>
					<xs:element ref="when-false" minOccurs="0"/>
					<xs:element ref="by-default" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="when-true">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="property"/>
					<xs:element ref="call"/>
				</xs:choice>
				<xs:element ref="restructure" minOccurs="0"/>
				<xs:element ref="op" minOccurs="0"/>
				<xs:element ref="equal" minOccurs="0"/>
				<xs:element ref="event" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="when-false">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="property"/>
					<xs:element ref="call"/>
				</xs:choice>
				<xs:element ref="restructure" minOccurs="0"/>
				<xs:element ref="op" minOccurs="0"/>
				<xs:element ref="equal" minOccurs="0"/>
				<xs:element ref="event" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="by-default">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="property"/>
					<xs:element ref="call"/>
				</xs:choice>
				<xs:element ref="restructure" minOccurs="0"/>
				<xs:element ref="op" minOccurs="0"/>
				<xs:element ref="equal" minOccurs="0"/>
				<xs:element ref="event" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="restructure">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="template"/>
			</xs:sequence>
			<xs:attribute name="at-part" type="xs:NMTOKEN"/>
			<xs:attribute name="how" default="replace">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="union"/>
						<xs:enumeration value="delete"/>
						<xs:enumeration value="cascade"/>
						<xs:enumeration value="replace"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="where" default="last">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="after"/>
						<xs:enumeration value="first"/>
						<xs:enumeration value="before"/>
						<xs:enumeration value="last"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="where-part" type="xs:NMTOKEN"/>
			<xs:attribute name="source" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="call">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="param" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:NMTOKEN"/>
			<xs:attribute name="class" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="event">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="name" type="xs:NMTOKEN"/>
					<xs:attribute name="class" type="xs:NMTOKEN"/>
					<xs:attribute name="part-name" type="xs:NMTOKEN"/>
					<xs:attribute name="part-class" type="xs:NMTOKEN"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="param">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="property"/>
				<xs:element ref="reference"/>
				<xs:element ref="call"/>
				<xs:element ref="op"/>
				<xs:element ref="event"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:NMTOKEN"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="listener">
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="class" type="xs:NMTOKEN"/>
					<xs:attribute name="attacher" type="xs:string"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
